#btn:hover {
    cursor: pointer;
}

#brigade_card:hover {
    cursor: pointer;
}

.title {
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    &_wrapper {
        display: flex;
        justify-content: center;
    }
}

.applications {
    padding: 20px 0;
}

p {
    padding-bottom: 5px;
}